= form_for @decision do |f|
  - if @decision.errors.any?
    #error_explanation
      %h2= "#{pluralize(@decision.errors.count, "error")} prohibited this decision from being saved:"
      %ul
        - @decision.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :player_id
    = f.select :player_id, Player.all.map {|p| [p.name, p.id]}
  .field
    = f.label :food_id
    = f.select :food_id, Food.all.map {|p| [p.name, p.id]}
  .actions
    = f.submit 'Save'
