%h1 Listing foods

%table
  %tr
    %th Name
    %th Point value
    %th
    %th
    %th

  - @foods.each do |food|
    %tr
      %td= food.name
      %td= food.point_value
      %td= link_to 'Show', food
      %td= link_to 'Edit', edit_food_path(food)
      %td= link_to 'Destroy', food, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Food', new_food_path
